<!DOCTYPE html>
<html>
    <head>
        <title>Reminder</title>
    </head>
    <body>
        <table>
            <tr>
                <td>Description</td>
                <td>{{task.description}}</td>
            </tr>
            <tr>
                <td>Link</td>
                <td>
                    <a href="{{task.completion_url()}}" target="_blank">Link</a>
                </td>
            </tr>
        </table>
    </body>
</html>
